@import "tailwindcss";


html{
    scroll-behavior: smooth;
}

body{
    margin: 0px;
    background-color: #B1C29E;
    position: relative;
}

#zikir{
    border: none;
    position: fixed;
    top: 0%;
    left: 50%;
    transform: translate(-50%,43%);
    height: 439px;
    width: 355px;


    background: url("Union.svg");
    background-repeat: no-repeat;
}

#add,#reset{
    position: absolute;
    width: 168px;
    height: 168px;
    border: none;
    border-radius: 50%;

    top: 246px;
    left: 93px;
    background-color: #818C78;
}

#reset{
    width: 52px;
    height: 52px;
    left: 239px;
    top: 209px;
}

#zikir h1{
    border: none;
    position: absolute;
    height: 140px;
    width: 272px;
    left: 41px;
    border-radius: 47px;
    background-color: #818C78 ;
    text-align: center;


    font-size: 80px;
    font-family: poppins;
    font-weight: 500;
    line-height: 1.85;

}




#full_screen{
    height: 41px;
    position: fixed;
    top: 16px;
    right: 19px;
    border-radius: 9px;
    border: none;
    font-family: poppins;
    font-weight: 500;
    font-size: 14px;
    text-align: right;
    line-height:2.6 ;



    
}

#full_screen img{
    height: 35px;
    width: 35px;
    float: left;

}




